@charset "UTF-8";

/*
Project Name: Music Mixer
Author: Jessica Hernandez
*/

/*
Accessibility Starts
*/

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/*
Accessibility Ends
*/

/*
Table of Contents:
        01. General Styles
        02. Classes
        03. IDs
*/

/*
General Styles Start
*/

header {
  margin-top: 10px;
  margin-bottom: 10px;
  color: color: #67580d;
}

body {
  font-size: 16px;
  cursor: crosshair;
  background-color: #f7f9f4;
  font-family: 'Montserrat', sans-serif;
  color: #67580d;
  text-align: center;
}

img {
  max-height: 50%;
}

/*
General Styles End
*/

/*
Classes Start
*/

.hidden {
    display: none;
}

.riverHidden {
  display: none;
}

.birdsHidden {
  display: none;
}

.firHidden {
  display: none;
}

.grassHidden {
  display: none;
}

.spruceHidden {
  display: none;
}

.bushesHidden {
  display: none;
}

.mapleHidden {
  display: none;
}

.rocksHidden {
  display: none;
}

.sunHidden {
  display: none;
}

.example-parent {
  margin-bottom: 0;
}

.campPieces {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.campPieces div {
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 10px;
}

.dropzone {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 285px;
  max-width: 60%;
  max-height: 60%;
}

/*
Classes End
*/

/*
IDs Start
*/

#Layer_1 {
  height: 50%;
  width: 50%;
}

/*
IDs End
*/
